Time_Series_Forecasting/__pycache__
*.csv

env.sh
.github/**
.ipynb_checkpoints/
Population_Segmentation/.ipynb_checkpoints/*
Population_Segmentation/.ipynb_checkpoints/Pop_Segmentation_Exercise-checkpoint.ipynb
*.txt
*.zip
.DS_Store

*.pyc
Project_Plagiarism_Detection/Notes.ipynb
